
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur notre très mignonne boutique de chatons!</h1>
  <p class="lead">Texte ici</p>
  <hr class="my-4">
  <p>Contenu par ici.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
  </p>
</div>

<div class="card-columns border-info container">
  <% @items.each do | item | %>
    <div class="card border-secondary mb-4">
      <img class="card-img-top" src=<%= item.image_url %> alt="Cute cat image" title=<%= item.title %>>
      <div class="card-body">
        <p class="card-text "><b> <%= item.price %> €</b></p>
          <div class="d-flex justify-content-between">
            <%= link_to "Voir le produit", item_path(item), class: "btn btn-outline-primary btn-sm"%>
            <div class="buttons-card">
              <%= link_to new_cart_path, class: "btn btn-primary btn-sm btn-card" do %><i class="fa fa-heart"></i><% end %>
              <% if @cart.nil? %>
              <%= link_to new_cart_path, class: "btn btn-primary btn-sm btn-card" do %><i class="fa fa-shopping-cart"></i><% end %>
              <% else %>
              <%= link_to cart_path(@cart.id), method: :update, class: "btn btn-primary btn-sm btn-card" do %><i class="fa fa-shopping-cart"></i><% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
